<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DemoNames</key>
	<array>
		<dict>
			<key>DemoName</key>
			<string>可展开的TableView</string>
			<key>ControllerName</key>
			<string>GJExpendTableViewController</string>
		</dict>
		<dict>
			<key>DemoName</key>
			<string>NetWork</string>
			<key>ControllerName</key>
			<string>GJNetWorkViewController</string>
		</dict>
		<dict>
			<key>DemoName</key>
			<string>扫描二维码</string>
			<key>ControllerName</key>
			<string>GJZBarTestViewController</string>
		</dict>
		<dict>
			<key>DemoName</key>
			<string>iBeancon</string>
			<key>ControllerName</key>
			<string>GJiBeanconTestViewController</string>
		</dict>
		<dict>
			<key>DemoName</key>
			<string>BlueClient</string>
			<key>ControllerName</key>
			<string>GJBlueToothTableViewController</string>
		</dict>
		<dict>
			<key>DemoName</key>
			<string>BlueSever</string>
			<key>ControllerName</key>
			<string>GJBlueServerViewController</string>
		</dict>
		<dict>
			<key>DemoName</key>
			<string>摇一摇</string>
			<key>ControllerName</key>
			<string>GJShakeViewController</string>
		</dict>
		<dict>
			<key>DemoName</key>
			<string>CoreData</string>
			<key>ControllerName</key>
			<string>GJCoreDataTabViewController</string>
		</dict>
	</array>
</dict>
</plist>
